html {
    font-size: 100%;
}

body {
    font-family: Verdana;
}

.header {
    background: #f9ac09;
    text-align: center;
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 50px;
}

.menu {
    background: #97d6ff;
    float: left;
    width: 20%;
    height: 100%;
    padding-top: 51px;
}

.body {
    background: #f7f0bb;
    height: 100%;
    padding-left: 10px;
    padding-top: 51px;
    padding-bottom: 30px;
    overflow-y: auto;
    top: 50px;
    bottom: 30px;
    right: 0;
    left: 0;
    overflow: auto;
}

.footer {
    background: #fed7a0;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 30px;
}
.error {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.msg {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

#login-box {
    width: 300px;
    padding: 20px;
    margin: 100px auto;
    background: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border: 1px solid #000;
}

.activespan {
    border: 1px solid transparent;
    border-radius: 4px;
    color: #8f140f;
    background-color: #f7ebed;
    border-color: #f10b6c;
}