html {
    font-size: 100%;
}

body {
    font-family: Verdana;
}

.header {
    background: #676767;
    text-align: center;
    color: #fff;
}

.menu {
    background: #97d6ff;
    float: left;
    width: 15%;
    height: 85%;
}

.body {
    background: #f7f0bb;
    height: 85%;
    padding-left: 200px;
}

.footer {
    background: #fed7a0;
    text-align: center;
}
.error {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.msg {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

#login-box {
    width: 300px;
    padding: 20px;
    margin: 100px auto;
    background: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border: 1px solid #000;
}