<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd






       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security.xsd">

       <security:http auto-config="true">
              <!-- <access-denied-handler error-page="/access_denied" /> -->
              <security:intercept-url pattern="/admin**" access="hasRole('ROLE_USER')" />
              <!--<security:intercept-url pattern="/user**" access="hasAnyRole('ROLE_ADMIN','ROLE_USER','ROLE_GUEST')"  />-->
              <security:intercept-url pattern="/welcome**" access="hasAnyRole('ROLE_ADMIN','ROLE_USER','ROLE_GUEST')" />
              <security:session-management invalid-session-url="/login" session-fixation-protection="newSession" >
                     <security:concurrency-control max-sessions="1" error-if-maximum-exceeded="true" />
              </security:session-management>
              <security:form-login
                      login-page="/login"
                      default-target-url="/welcome"
                      login-processing-url="/j_spring_security_check"
                      authentication-failure-url="/login?error"
                      username-parameter="username"
                      password-parameter="password" />
              <security:logout logout-success-url="/login?logout" logout-url="/j_spring_security_logout" delete-cookies="JSESSIONID"/>
              <!-- enable csrf protection -->
              <security:csrf/>
       </security:http>

       <security:authentication-manager>
              <security:authentication-provider>
                     <security:user-service>
                            <security:user name="admin" password="123456" authorities="ROLE_ADMIN" />
                     </security:user-service>
              </security:authentication-provider>
              <security:authentication-provider user-service-ref="userDetailsService">
                     <security:password-encoder ref="passwordEncoder"/>
              </security:authentication-provider>
       </security:authentication-manager>

       <bean id="userDetailsService" class="com.springapp.mvc.service.UserServiceImpl" />

       <bean id="passwordEncoder" class="org.springframework.security.authentication.encoding.ShaPasswordEncoder">
              <constructor-arg value="256"/>
       </bean>

</beans>